.our-projects {
  margin: 6rem 7rem 0rem 7rem;
}

.projects-sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 9rem;
  margin-right: 9rem;
}

.sponosors-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 25%;
}

.sponosors-logo p {
  text-align: center;
}

.sponsors-logo-container {
  display: flex;
  align-items: center;
}

.location-icon-blue {
  width: 3rem;
  height: 1.75rem;
  margin-left: 7rem;
  margin-right: 0.75rem;
  margin-top: 2rem;
}

.section-headers {
  display: flex;
  align-items: center;
}

/* Research Grants Table */
.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 70rem;
}

thead th {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  text-align: center;
}

th, td {
  padding: 1rem;
}

tr {
  border-bottom: 1px solid var(--color-primary);
  font-family: 'Inter', sans-serif;
}