@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Resets */
/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #03045E;
  --color-secondary: #CCCCDE;
  --color-tex-dark: #031426;
  --color-text-white: #FFFFFF;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: var(--color-primary);
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-tex-dark);
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: var(--color-primary);
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--color-tex-dark);
}

/* Prevent content from hiding under fixed navbar */
body {
  padding-top: 1rem; /* 80px - adjust if your navbar is taller */
}

/* Optional: slightly more on larger screens if needed */
@media (min-width: 768px) {
  body {
    padding-top: 2rem; /* 96px */
  }
}